@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300&family=Open+Sans:wght@300;400&display=swap');

:root {
    --white: #FFF;

    --black-transparent: rgba(0, 0, 0, 0.35);
    --white-transparent1: rgba(255, 255, 255, 0.2);
    --white-transparent2: rgba(247, 235, 235, 0.44);

    --azur:rgb(205, 215, 215);
    
    box-sizing: border-box;  
}
  
* {
    box-sizing: inherit;
}

/*==================== BALISES HTML ====================*/

body {
    background-image: url(/img/desert.png);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

    font-size: 1rem;
    font-family: Montserrat, "Open Sans", sans-serif;
    color: var(--white);
}
  
img {
    max-width: 100%;
    height: auto;
}

h1{
    padding-bottom: 10px;

    border-bottom: solid 1px;

    font-weight: 300;
    font-size: 1.3em;
    letter-spacing: -1px;
}

h2{
    margin: 0;
    padding: 10px 5px 2px 5px;
    
    font-size: 1.1em;
}

li{
    list-style: none;
    margin: 0;
}

ul{
    padding: 10px;
}

main {
    display: flex;
    padding: 5%;
    width: 100%;
    min-height: 100vh;

    text-align: center;

    animation-name: back;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
}

@keyframes back{
    from{
        background-color: var(--white);
    }
    to{
        background-color: rgba(178, 178, 178, 0.158);
    }
}

/*==================== SECTION 1 - PHOTO + NOM ====================*/

.section1{
    display: flex;
    flex-direction: column;
    align-items: center;

    animation-name: opacity, mouvtop;
    animation-duration: 2s, 2s;

    animation-delay: 1s, 1s;
    animation-fill-mode: forwards;
    opacity:0;
}

@keyframes opacity{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@keyframes mouvtop{
    from{
        transform: translateY(30px);
    }
    to{
        transform: translateY(0);
    }
}

.picture{
    width: 150px;

    border-radius: 50%;
}


/*==================== SECTION 2 - LES RAISONS ====================*/

.section2{
    opacity: 0;
    border-radius: 20PX;

    background-color: var(--black-transparent);
    backdrop-filter: blur(7px);

    font-size: 0.8em;

    animation-name: opacity;
    animation-duration: 3s;
    animation-delay: 1.5s;
    animation-fill-mode: forwards;
}

.section2 ul{
    margin-top: 0;
}

.section2 li{
    padding: 5px 0px;

    text-align: justify;
}


/*==================== SECTION 3 - LISTES DES LIENS VERS LES DIFFERENTS PROFILS ====================*/

.section3 ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.section3 li {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    margin: 2.5px 10px;
    opacity: 0;

    border-radius: 50%;
    border: solid var(--white-transparent2) 2px;

    background-color: var(--white-transparent1);

    transition: all 0.3s ease-out;

    animation-name: opacity, mouvright;
    animation-duration: 1s, 1s;
    animation-fill-mode: forwards;
}

.section3 li:hover{
    height: 55px;
    width: 55px;
    margin: 0px 7.5px;

    background-color: var(--azur);
}

.lien1{   
    animation-delay: 2s;
}
.lien2{ 
    animation-delay: 2.3s;
}
.lien3{ 
    animation-delay: 2.6s;
}
.lien4{
    animation-delay: 2.9s;
}


.section3 a{
    display: flex;
    padding: 7px;
}

@keyframes mouvright{
    from{
        transform: translateX(-13px);
    }
    to{
        transform: translateX(0);
    }
}


/*==================== LES MEDIAS QUERIES ====================*/



@media screen and (min-width: 576px){
    h1{
        font-size: 1.5em;
        font-weight: 500;
    }
    h2{
        font-size: 1.2em;
    }
    #wrapper{
        max-width: 500px;
        margin-left: auto;
        margin-right: auto;
    }
    .picture{
        width: 200px;
    }
    .section2{
        font-size: 0.9rem;
    }
}


@media screen and (min-width: 992px) {
    main{
        padding: 0 5%;
    }
    h1{
        border: none;

        font-size: 2em;
        font-weight: 800;
    }
    h2{
        font-size: 1.3em;
    }    
    #wrapper{
        display: grid; 
        grid-template-columns: repeat(2, 1fr);
        gap: 50px;
        align-items: center;
        max-width: 100%;
        width: 800px;
        height: 90%;
        padding: 10px;

        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        overflow: auto;
    }
    .picture{
        width: 250px;
    }    
    .right{
        display: flex;
        align-items: center;
    }
    .section2{
        min-width: 300px;
        padding: 10px;

        font-size: 1rem;
    }
    .section2 ul{
        margin: 0;
    }
    .section3 li {
        height: 70px;
        width: 70px;
        margin: 10px 10px;
    }
    .section3 li:hover{
        height: 76px;
        width: 76px;
        margin: 7px;
    }
    .section3 a{
        padding: 12px;
    }
    .section3 img{
        height: 40px;
        width: 40px;
    }
}


@media screen and (min-width: 1400px) {
    h1{
        font-size: 3em;
        font-weight: 900;
    }
    h2{
        font-size: 1.5em;
    }    
    #wrapper{
        width: 1000px;
    }
    .picture{
        width: 320px;
    }    
    .section2{
        min-width: 400px;
        padding: 10px;

        font-size: 1.3rem;
    }
    .section3 li {
        height: 90px;
        width: 90px;
        margin: 15px 15px;
    }
    .section3 li:hover{
        height: 98px;
        width: 98px;
        margin: 11px;
    }
    .section3 a{
        padding: 18px;
    }
    .section3 img{
        height: 50px;
        width: 50px;
    }
}